@import 'tailwindcss';
@plugin "tailwindcss-animate";
@plugin "tailwindcss-react-aria-components";

@source "../index.html";
@source "./src/**/*.{js,ts,jsx,tsx}";

@theme {
  --color-primary-100: #e1e6f0;
  --color-primary-200: #b6c1d6;
  --color-primary-300: #8a9cbb;
  --color-primary-400: #5e769f;
  --color-primary-500: #12223a;
  --color-primary-600: #101d33;
  --color-primary-700: #0d1729;
  --color-primary-800: #0a121f;
  --color-primary-900: #070c14;
  --color-primary-950: #04060a;
  --color-app-background: #f5f5f5;

  --font-sans: Inter, sans-serif;
}

@utility field-shadow {
  border: none;
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  background-color: #fff;
  padding: 1.5rem 1.25rem;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
